/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    background-color: #f4efe7;
    font-family: Arial, sans-serif;
}

/* NAV */
nav {
    background-color: #47606f;
    padding: 10px 20px;
}

/* UL NAV (OBLIGATORIO SIN PUNTOS + EN FILA) */
.buttons-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ITEMS NAV */
.buttons-container li {
    display: flex;
    align-items: center;
}

/* LINKS NAV */
.buttons-container a {
    text-decoration: none;
    background-color: #f5e6c8;
    padding: 8px 15px;
    border-radius: 8px;
    color: black;

    display: flex;
    align-items: center;
    gap: 8px;
}

/* LOGO */
.logo {
    width: 40px;
}

/* SECCIONES */
section {
    background-color: white;
    margin: 25px auto;
    padding: 20px;
    width: 85%;
    border-radius: 10px;
}

/* IMAGENES (QUE VENDEMOS) */
.imagenes-container {
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center; /* requerido por consigna */

    gap: 20px;
    text-align: center; /* si el texto no queda centrado */
}

/* ITEMS */
.imagenes-container li {
    text-align: center;
}

/* LINKS PRODUCTOS */
.productoLink {
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* IMAGENES */
.productoLink img {
    width: 150px;
    transition: 0.3s;
}

.productoLink img:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background-color: #47606f;
    color: white;
    text-align: center;
    padding: 20px;
}

/* FLECHA */
.flecha-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.flecha-arriba a {
    background-color: #eeb906;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
}